@* This partial is already included in _Layout.cshtml navbar section *@
@* Use for standalone testing if needed *@
<div id="notifBadgeCount"
     style="display:none;"
     data-count="0">
</div>